

// Home Page //

html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #acabe6;
  }

  .input-field-day-content {
    margin-left: 400px;
    margin-bottom: 100px;
  }
  
  .input-field-mood {
    margin-left: 440px;
    margin-bottom: 250px;
  }
  

