<div class='home-page'>
<h1>Daily Entry</h1>
 <div><h1>Hello, welcome to your daily entry page.</h1></div>
  

 <div>
  <p> Tell me about your day! </p>
    <p> What did you do? What was the best part? What was the worst part? </p>
      <p> How did you feel?, use the faces to describe your mood, which one lines up best with how you feel? </p>
 </div>

 <form>
  <div class="input-field-day-content">
    <label for="day_content">Day Content</label>
    <textarea id="day_content" name="day_content"></textarea>
  </div>
  <div class="input-field-mood">
    <label for="mood">Mood</label>
    <input type="text" id="mood" name="mood">
    <button type="submit">Submit</button>
  </div>
 </form>
 </div>